@layer base {
    /* lato-regular - latin */
    @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/lato-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/lato-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/lato-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/lato-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/lato-v17-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
  }
   /* lato-italic - latin */
   @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url('/assets/fonts/lato-v17-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/lato-v17-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/lato-v17-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/lato-v17-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/lato-v17-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/lato-v17-latin-italic.svg#Lato') format('svg'); /* Legacy iOS */
  }

  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/lato-v17-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/lato-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/lato-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/lato-v17-latin-700.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/lato-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/lato-v17-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-700italic - latin */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: url('/assets/fonts/lato-v17-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/lato-v17-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/lato-v17-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/lato-v17-latin-700italic.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/lato-v17-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/lato-v17-latin-700italic.svg#Lato') format('svg'); /* Legacy iOS */
  }
  
  
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('/assets/fonts/lato-v17-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/lato-v17-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/lato-v17-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/lato-v17-latin-900.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/lato-v17-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/lato-v17-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
  }
  
  /* lato-900italic - latin */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 900;
    src: url('/assets/fonts/lato-v17-latin-900italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/lato-v17-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/lato-v17-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/lato-v17-latin-900italic.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/lato-v17-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/lato-v17-latin-900italic.svg#Lato') format('svg'); /* Legacy iOS */
  }  
 
  /* newsreader-regular - latin */
  @font-face {
    font-family: 'Newsreader';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/newsreader-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/newsreader-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/newsreader-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/newsreader-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/newsreader-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/newsreader-v7-latin-regular.svg#Newsreader') format('svg'); /* Legacy iOS */
  }
  
  /* newsreader-800 - latin */
  @font-face {
    font-family: 'Newsreader';
    font-style: normal;
    font-weight: 800;
    src: url('/assets/fonts/newsreader-v7-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/newsreader-v7-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/newsreader-v7-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/newsreader-v7-latin-800.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/newsreader-v7-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/newsreader-v7-latin-800.svg#Newsreader') format('svg'); /* Legacy iOS */
  }
  
  /* newsreader-700 - latin */
  @font-face {
    font-family: 'Newsreader';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/newsreader-v7-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/newsreader-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/newsreader-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/newsreader-v7-latin-700.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/newsreader-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/newsreader-v7-latin-700.svg#Newsreader') format('svg'); /* Legacy iOS */
  }
  
  /* newsreader-italic - latin */
  @font-face {
    font-family: 'Newsreader';
    font-style: italic;
    font-weight: 400;
    src: url('/assets/fonts/newsreader-v7-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/newsreader-v7-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/newsreader-v7-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/newsreader-v7-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/newsreader-v7-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/newsreader-v7-latin-italic.svg#Newsreader') format('svg'); /* Legacy iOS */
  }
  
  /* newsreader-700italic - latin */
  @font-face {
    font-family: 'Newsreader';
    font-style: italic;
    font-weight: 700;
    src: url('/assets/fonts/newsreader-v7-latin-700italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/newsreader-v7-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/newsreader-v7-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/newsreader-v7-latin-700italic.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/newsreader-v7-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/newsreader-v7-latin-700italic.svg#Newsreader') format('svg'); /* Legacy iOS */
  }
  
  /* newsreader-800italic - latin */
  @font-face {
    font-family: 'Newsreader';
    font-style: italic;
    font-weight: 800;
    src: url('/assets/fonts/newsreader-v7-latin-800italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/newsreader-v7-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/newsreader-v7-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/newsreader-v7-latin-800italic.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/newsreader-v7-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/newsreader-v7-latin-800italic.svg#Newsreader') format('svg'); /* Legacy iOS */
  }

  /* roboto-slab-100 - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 100;
    src: url('/assets/fonts/roboto-slab-v13-latin-100.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/roboto-slab-v13-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/roboto-slab-v13-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/roboto-slab-v13-latin-100.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/roboto-slab-v13-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/roboto-slab-v13-latin-100.svg#RobotoSlab') format('svg'); /* Legacy iOS */
  }
  
  /* roboto-slab-200 - latin */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 200;
    src: url('/assets/fonts/roboto-slab-v13-latin-200.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/roboto-slab-v13-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/roboto-slab-v13-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/roboto-slab-v13-latin-200.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/roboto-slab-v13-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/roboto-slab-v13-latin-200.svg#RobotoSlab') format('svg'); /* Legacy iOS */
  }
  
  /* roboto-slab-300 - latin */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/fonts/roboto-slab-v13-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/roboto-slab-v13-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/roboto-slab-v13-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/roboto-slab-v13-latin-300.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/roboto-slab-v13-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/roboto-slab-v13-latin-300.svg#RobotoSlab') format('svg'); /* Legacy iOS */
  }
  
  /* roboto-slab-regular - latin */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/roboto-slab-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/roboto-slab-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/roboto-slab-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/roboto-slab-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/roboto-slab-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/roboto-slab-v13-latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
  }
  
  /* roboto-slab-500 - latin */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/roboto-slab-v13-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/roboto-slab-v13-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/roboto-slab-v13-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/roboto-slab-v13-latin-500.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/roboto-slab-v13-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/roboto-slab-v13-latin-500.svg#RobotoSlab') format('svg'); /* Legacy iOS */
  }
  
  /* roboto-slab-600 - latin */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/roboto-slab-v13-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/roboto-slab-v13-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/roboto-slab-v13-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/roboto-slab-v13-latin-600.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/roboto-slab-v13-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/roboto-slab-v13-latin-600.svg#RobotoSlab') format('svg'); /* Legacy iOS */
  }
  
  /* roboto-slab-700 - latin */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/roboto-slab-v13-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/roboto-slab-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/roboto-slab-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/roboto-slab-v13-latin-700.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/roboto-slab-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/roboto-slab-v13-latin-700.svg#RobotoSlab') format('svg'); /* Legacy iOS */
  }
  
  /* roboto-slab-800 - latin */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 800;
    src: url('/assets/fonts/roboto-slab-v13-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/roboto-slab-v13-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/roboto-slab-v13-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/roboto-slab-v13-latin-800.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/roboto-slab-v13-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/roboto-slab-v13-latin-800.svg#RobotoSlab') format('svg'); /* Legacy iOS */
  }
  
  /* roboto-slab-900 - latin */
  @font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 900;
    src: url('/assets/fonts/roboto-slab-v13-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/roboto-slab-v13-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/roboto-slab-v13-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/roboto-slab-v13-latin-900.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/roboto-slab-v13-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/roboto-slab-v13-latin-900.svg#RobotoSlab') format('svg'); /* Legacy iOS */
  }

  /* fira-code-300 - latin */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/fira-code-v10-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/fira-code-v10-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/fira-code-v10-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/fira-code-v10-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/fira-code-v10-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/fira-code-v10-latin-300.svg#FiraCode') format('svg'); /* Legacy iOS */
}

/* fira-code-regular - latin */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/fira-code-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/fira-code-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/fira-code-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/fira-code-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/fira-code-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/fira-code-v10-latin-regular.svg#FiraCode') format('svg'); /* Legacy iOS */
}

/* fira-code-500 - latin */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/fira-code-v10-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/fira-code-v10-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/fira-code-v10-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/fira-code-v10-latin-500.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/fira-code-v10-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/fira-code-v10-latin-500.svg#FiraCode') format('svg'); /* Legacy iOS */
}

/* fira-code-600 - latin */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/fira-code-v10-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/fira-code-v10-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/fira-code-v10-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/fira-code-v10-latin-600.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/fira-code-v10-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/fira-code-v10-latin-600.svg#FiraCode') format('svg'); /* Legacy iOS */
}

/* fira-code-700 - latin */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/fira-code-v10-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/fira-code-v10-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/fira-code-v10-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/fira-code-v10-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/fira-code-v10-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/fira-code-v10-latin-700.svg#FiraCode') format('svg'); /* Legacy iOS */
}

/* merriweather-300 - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/merriweather-v22-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/merriweather-v22-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/merriweather-v22-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/merriweather-v22-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/merriweather-v22-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/merriweather-v22-latin-300.svg#Merriweather') format('svg'); /* Legacy iOS */
}

/* merriweather-300italic - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  src: url('/assets/fonts/merriweather-v22-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/merriweather-v22-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/merriweather-v22-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/merriweather-v22-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/merriweather-v22-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/merriweather-v22-latin-300italic.svg#Merriweather') format('svg'); /* Legacy iOS */
}

/* merriweather-regular - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/merriweather-v22-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/merriweather-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/merriweather-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/merriweather-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/merriweather-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/merriweather-v22-latin-regular.svg#Merriweather') format('svg'); /* Legacy iOS */
}

/* merriweather-italic - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/merriweather-v22-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/merriweather-v22-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/merriweather-v22-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/merriweather-v22-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/merriweather-v22-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/merriweather-v22-latin-italic.svg#Merriweather') format('svg'); /* Legacy iOS */
}

/* merriweather-700 - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/merriweather-v22-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/merriweather-v22-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/merriweather-v22-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/merriweather-v22-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/merriweather-v22-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/merriweather-v22-latin-700.svg#Merriweather') format('svg'); /* Legacy iOS */
}

/* merriweather-700italic - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: url('/assets/fonts/merriweather-v22-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/merriweather-v22-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/merriweather-v22-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/merriweather-v22-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/merriweather-v22-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/merriweather-v22-latin-700italic.svg#Merriweather') format('svg'); /* Legacy iOS */
}

/* merriweather-900 - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/merriweather-v22-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/merriweather-v22-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/merriweather-v22-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/merriweather-v22-latin-900.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/merriweather-v22-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/merriweather-v22-latin-900.svg#Merriweather') format('svg'); /* Legacy iOS */
}

/* merriweather-900italic - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: url('/assets/fonts/merriweather-v22-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/merriweather-v22-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/merriweather-v22-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/merriweather-v22-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/merriweather-v22-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/merriweather-v22-latin-900italic.svg#Merriweather') format('svg'); /* Legacy iOS */
}


  
  
        
}