---
permalink: '/feed.xml'
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.name }}</title>
	<subtitle></subtitle>
	<link href="{{ site.url }}{{ permalink }}" rel="self"/>
	<link href="{{ site.url }}/"/>
	{% if collections.all | length %}
	<updated>{{ collections.all | rssLastUpdatedDate }}</updated>
	{% endif %}
	<id>{{ site.url }}</id>
	<author>
  <name>{{ site.authorName }}</name>
  <email>{{ site.authorEmail }}</email>
	</author>
	{% for post in collections.all %}
  {% set absolutePostUrl %}{{ site.url }}{{ post.url | url }}{% endset %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | rssDate }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html"><![CDATA[
      {{ post.templateContent | safe }}
    ]]></content>
  </entry>
	{% endfor %}
</feed>